
<h2>EventDetailsData</h2>
<ul class="parameter">
  <li class="param-required-false">name : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">desc : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">dateStart : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">dateEnd : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">rrule : RRule
    <br/>
  </li>
</ul>
