
<h2>EventObject</h2>
<ul class="parameter">
  <li class="param-required-false">id : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">name : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">event_details_json : EventDetailsData
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">ical_raw : String
    <br/>описание события в формате ical
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">status : Integer
    <br/>status of event object
      <dl class="param-enum">
        <dt>Enum:
            <dd>0</dd>
            <dd>1</dd>
        </dt>
      </dl>
  </li>
</ul>
