
<h2>RRule</h2>
<ul class="parameter">
  <li class="param-required-false">freq : String
    <br/>
      <dl class="param-enum">
        <dt>Enum:
            <dd>SECONDLY</dd>
            <dd>MINUTELY</dd>
            <dd>HOURLY</dd>
            <dd>DAILY</dd>
            <dd>WEEKLY</dd>
            <dd>MONTHLY</dd>
            <dd>YEARLY</dd>
        </dt>
      </dl>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">until : String
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">count : Integer
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">interval : Integer
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">bysecond : List
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">byminute : List
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">byhour : List
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">byday : List
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">bymonthday : List
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">byyearday : List
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">byweekno : List
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">bymonth : List
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">bysetpos : List
    <br/>
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">wkst : String
    <br/>
      <dl class="param-enum">
        <dt>Enum:
            <dd>SU</dd>
            <dd>MO</dd>
            <dd>TU</dd>
            <dd>WE</dd>
            <dd>TH</dd>
            <dd>FR</dd>
            <dd>SA</dd>
        </dt>
      </dl>
  </li>
</ul>
